.box {
  display: grid;
  width: 240px;
  height: 240px;
  margin: 100px auto;
  background-color: rgb(200, 255, 200);
  border-radius: 12px;
  border: 24px solid #006400;
  transition: transform 2s, background-color 2s, opacity 2s;
  text-align: center;
  place-items: center;
  font-size: 24px;
}

.box:hover {
  transform: rotateZ(60deg);
  background-color: lightcoral;
  opacity: 0.5;
}
